.chat_display {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.15fr;
    grid-template-rows: repeat(4, 1fr) 0.3fr 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-position: 0;
    background-size: cover;

    .chat_message_list {
        display: flex;
        flex-direction: column;
        grid-area: 1 / 1 / 5 / 5;
        justify-content: flex-end;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.18);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .chat_bar {
        grid-area: 5 / 1 / 6 / 5;
        display: flex;
        align-items: center;
        background-color: rgb(194, 194, 194);
        border-radius: 0 0 10px 0;

        .chat_send_button {
            width: 5vw;
            height: 5vh;
            margin-right: 0.5vw;
            
        }

        .chat_writing_bar {
            flex: 1;
            max-height: 70%;
            background: none;
            border: none;
            &:focus{
                border: none;
                outline: none;
                box-shadow: none;
                background: none;
            }
        }


    }

    .copyright_label {
        grid-area: 6 / 1 / 7 / 6;
        p{
            color: rgb(165, 234, 255);
            a:visited{
                color: aqua;
            }
        }
    }

    
}