.chatdisplay{
    display: grid;
    grid-template-columns: repeat(4, 1fr) 0.5fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .chat_message_list{
        display: flex;
        flex-direction: column;

    }
}