<section class="user_panel_main_container">

    <section class="user_account_info_container">
        <figure>
            <img src="" alt="" />
            <figcaption>picture used by user account</figcaption>
        </figure>
    </section>

    <section class="change_account_pic_container">
        <h1>Change account picture</h1>
        <input type="image" />

    </section>

    <section class="change_account_password_container">
        <h1>change password</h1>
        <form action="">
                <label for="change_account_password_confirme">Old password</label>
                <input type="text" name="change_account_password_confirme" id="delete_account_password_confirme">

                <label for="new_password">New password</label>
                <input type="text" name="new_password" id="new_password">

                <label for="new_password_confirme">New password confirme</label>
                <input type="text" name="new_password_confirme" id="new_password_confirme">

                <input type="button" value="change_account_password_button">
            </form>
    </section>

    <section class="delete_account__container">
        <article>
            <h1>Delete your account</h1>
            <p><strong>Warning!</strong> this cant be undone.</p>

            <form action="">
                <label for="delete_account_password_confirme">Password</label>
                <input type="text" name="delete_account_password_confirme" id="delete_account_password_confirme">
                <input type="button" value="delete_account_button">
            </form>
        </article>
        

    </section>

</section>
