.screen_display{
  width: 100vw;
  height: 100vh;
  display: block;
}

.drop_down_menu {
        position: fixed;
        top: 0.5vh;
        right: 0.5vw;
        z-index: 80;
        height: 5vh;
        width: 5vw;
        display: flex;
        justify-content: center;
        align-content: center;

        .burger_menu_button {
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(9px);
            -webkit-backdrop-filter: blur(9px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border: none;
            margin: 1vh 0.5vw;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            

            &:hover {
                background-color: rgb(209, 209, 209);
                border-radius: 10px;
                top: 1px;
                box-shadow: 10px 10px 12px -7px rgba(0, 0, 0, 0.75);
            }

            &:active {
                position: relative;
                top: 1px;
                background-color: white;
                box-shadow: none;
            }
        }
    }
    .connection_panel_main{
        position: fixed;
        top: 1vh;
        right: 7.5vw;
        z-index: 100;
        height: 30vh;
        width: 10vw;
        

    }
    .close_connection_panel{
        position: fixed;
        top: 0;
        right: 0;
        z-index: 90;
        height: 100vh;
        width: 100vw;
    }
    .test_goto_button_container{
        position: fixed;
        bottom: 1vh;
        right: 7.5vw;
        z-index: 95;

        .user_panel_goto_test{

        }
        .admin_panel_goto_test{

        }
    }